@CHARSET "UTF-8";

form legend {
	font-size: 18px;
	color: teal;
}

form label {
	clear: left;
	float: left;
	width: 150px;
	margin: 5px 5px 5px 0px;
}

form input {
	display: block;
	margin: 5px 5px 5px 0px;
}


form input.unlabeled {
	clear: left;
}