html {
	height: 100%;
	width: 980px;
	background: #E2EEF7;
	margin: 0 auto;
}

body {
	display: block;
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 18px;
}

.logo {
	display: block;
	width: 100%;
	height: 160px;
	background: url(/images/banner2.jpg) no-repeat;
}

.menu {
	height: 50px;
	background: #222222;
	color: #C0C0C0;
}

.menu ul {
	list-style: none;
}

.menu li {
	display: inline;		
}

.menu li a {
	text-decoration: none;
	color: #C0C0C0;
	background: #222222;
	font-size: 20px;
	padding: 0;
	margin: 0 15px 0 15px;
}

.menu li a:HOVER {
	color: white;
}

.menu .left-menu {
	float: left;
}

.menu .right-menu {
	float: right;
}

#main-content {
	background: white;
	border: 1px black solid;
	padding: 5px 15px 5px 15px;
}

footer {
	background: black;
	color: white;
	padding: 2px 10px 2px 10px;
}

.left-panel {
	float:left;
	width:60%;
}

.right-panel {
	float :right;
	margin: 15px;
}

#matchs {
	width: 300px;
	background: #000000;
	color: #999999;
	/* border */
	border: 3px solid #888;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.clear {
	clear:both;
}
